// ------ colori background ------------
$bg-header: #101010;
$bg-purple: #3c1567;
$bg-dark: #3c3c3c;
$bg-blue: #0072bc;
$bg-section: #ececec;
$bg-footer: #1e1e1e;

// ------- text-color ------------- 
$text-light-blue: #009cff;
$text-gray-dark: #989898;
$text-white: #ffffff;
$text-black: #020201;
$text-logo: #d9d9d9;
$text-purple: #c70e8b;

// --------- social colors ----------
$social-pink: #e4405f;
$social-blue: #3b5998;
$social-light-blue: #1da1f2;
$social-red: #cd201f;
$social-red-dark: #bd081c;
$social-orange: #ff8d00;