/* ---- header ----*/
header{
    height: $height-header;
    background-color: $bg-header;
}

.logo{
    height: 50px;
    padding: 13px 25px;

    & img{
        height: 100%;
    }
}

.nav{

    height: 100%;

    &-item{
        color: $text-white;
        text-decoration: none;
        display: inline-block;
        padding: 10px 20px;
        text-transform: capitalize;
    }

    &-item:hover{
        background: $bg-section;
        color: $text-black;
    }
}


body{
    background: black;
}

ul li{
    list-style: none;
}