/* ---- jumbotron ----*/
.jumbotron{
    height: $height-jumbotron;
    @include bg-image;
    background-image: url('/img/bg-painter-home.jpg');

    .container{
        height: 100%;
    }
}

.content{
    height: 100%;
}
