/* ---- COLORE TESTO ----*/
$colori :(
    text-light-blue:$text-light-blue,
    text-gray-dark:$text-gray-dark,
    text-white: $text-white,
    text-black: $text-black,
    text-logo: $text-logo,
    text-purple: $text-purple
);

@each $key, $value in $colori {
    .#{$key}{
        color: $value;
    }
};

$bgColori :(
    pink: $social-pink,
    blue: $social-blue,
    light-blue: $social-light-blue,
    red: $social-red,
    red-dark: $social-red-dark,
    orange: $social-orange
);

@each $key, $value in $bgColori {
    .bg-#{""+$key}{
        background-color: $value;
    }
};

/* ---- ALLINEAMENTO TESTO ----*/
$allineamento :('left', 'right', 'center');

@each $value in $allineamento {
    .text-#{$value}{
        text-align: unquote($value);
    }
};

/* ---- SPESSORE TESTO ----*/
$spessore :('bold', 'normal');

@each $value in $spessore {
    .text-#{$value}{
        font-weight: unquote($value);
    }
};

.uppercase{
    text-transform: uppercase;
}

.capitalizze{
    text-transform: capitalize;
}

/* ---- FONT-SIZE ----- */
.text-21{
    font-size: 21px;
}

.text-16{
    font-size: 16px;
}

@mixin bg-image {
    background-position: center;
    background-position: center;
    background-size: cover;
}