/* ---- COLORE TESTO ----*/
$colori :(
    text-light-blue:$text-light-blue,
    text-gray-dark:$text-gray-dark,
    text-white: $text-white,
    text-black: $text-black,
    text-logo: $text-logo,
    text-purple: $text-purple
);

@each $key, $value in $colori {
    .text-#{$key}{
        color: $value;
    }
};