/* ---- COLORE TESTO ----*/
$colori :(
    text-light-blue:$text-light-blue,
    text-gray-dark:$text-gray-dark,
    text-white: $text-white,
    text-black: $text-black,
    text-logo: $text-logo,
    text-purple: $text-purple
);

@each $key, $value in $colori {
    .text-#{$key}{
        color: $value;
    }
};

/* ---- ALLINEAMENTO TESTO ----*/
$allineamento :('left', 'right', 'center');

@each $value in $allineamento {
    .text-#{$value}{
        text-align: unquote($value);
    }
};

/* ---- SPESSORE TESTO ----*/
$spessore :('bold', 'normal');

@each $value in $spessore {
    .text-#{$value}{
        text-align: unquote($value);
    }
};



