*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Architects Daughter', cursive;
    font-family: 'Open Sans', sans-serif;
}

$container-width: 1024px;

$height-header: 90px;
$height-jumbotron: 480px;